.form-section {
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    color: #fff;
    padding: 4rem 0;
    /* padding-top: 4rem; */
}

.form-section h3 {
    margin-top: 4rem;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 500;
}

.form-section p {
    margin: 1.75rem;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.form-section a {
    /* margin: 1.75rem; */
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.form-section a:hover {
    color: rgb(168, 178, 231);
    transition: 0.3s ease-in-out;
}

.form-container {
    background: #4284FF;
    width: 640px;
    height: fit-content;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: 2rem auto;
}

input {
    margin: 0.5rem;
    height: 2.5rem;
    border: none;
    padding: 5px;
}

input::placeholder {
    letter-spacing: 1px;
    font-size: 16px;
}

.message {
    height: 6rem; 
}


.form-btn {
    margin: 1rem 0 3rem 0.5rem;
    width: 8rem;
    height: 3rem;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #B48DFF;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #8247ee;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
    .form-container {
        width: 90%;
    }
}
