nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: transparent; */
    background-color: #6387FF;
    /* width: 69%; */
    margin: 0 auto;
    padding: 0 15%;
}

.title-container {
    margin-left: 0px;
    color: #fff;
}


.title {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    color: #fff;
    z-index: 999;
}

.menu-bars {
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    z-index: 999;
}

.nav-menu {
    background-color: #060b26;
    opacity: 0.95;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -140%;
    transition: 850ms ease-in-out;
    z-index: 999;
}

.nav-menu.active {
    left: 0;
    transition: 0.3s ease-in-out;
}

.nav-menu li {
    list-style: none;
    margin: 1rem;
}

.menu-close {
    font-size: 28px;
    cursor: pointer;
    margin: 1rem 0rem 1rem 14rem;
    color: #fff;
}

.nav-link {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}



